h3 {
  font-size: 14px;
  margin-top: 15px;
}
p {
  font-size: 12px;
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #666666;
}
a:hover {
  text-decoration: underline;
  color: lightgreen;
}
header {
  height: 136px;
  width: 100%;
  font-size: 12px;
}
header #header-top {
  width: 100%;
  min-width: 1200px;
  height: 30px;
  background-color: #EAEAEA;
}
header #header-top #header-top-con {
  position: relative;
  display: flex;
  width: 1200px;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  color: #666666;
}
header #header-top #header-top-con #login {
  display: flex;
}
header #header-top #header-top-con #login li {
  margin: 0 3px;
}
header #header-top #header-top-con #login li span {
  height: 15px;
}
header #header-top #header-top-con #login li .right-border {
  padding-right: 3px;
  border-right: 1px solid black;
}
header #header-top #header-top-con #header-menu {
  position: absolute;
  display: flex;
  right: 0;
}
header #header-top #header-top-con #header-menu .clearleftborder {
  border-left: 0;
}
header #header-top #header-top-con #header-menu a {
  height: 16px;
  margin-right: 6px;
  padding-left: 6px;
  border-left: 1px solid black;
}
#header-btm {
  width: 100%;
}
#header-btm #header-btm-con {
  width: 1200px;
  margin: 0 auto;
}
#header-btm #header-btm-con img {
  margin: 25px 45px;
}
#header-btm #header-btm-con #search {
  float: right;
  width: 558px;
  font-size: 0;
  margin-top: 35px;
}
#header-btm #header-btm-con #search input {
  box-sizing: border-box;
  width: 490px;
  padding: 0 4px;
  border: 2px solid #ea4a36;
  height: 32px;
  outline: none;
}
#header-btm #header-btm-con #search button {
  height: 32px;
  background-color: #ea4a36;
  width: 68px;
  border: 0;
  color: white;
  transform: translateY(1px);
}
#allnav {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 2px solid #ea4a36;
}
#nav-con {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  font-size: 16px;
}
#nav-con h2 {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #E1251B;
  width: 210px;
  font-size: 16px;
}
#nav-con h2 a {
  color: white;
}
#nav-con ul {
  height: 50px;
}
#nav-con ul li {
  float: left;
}
#nav-con ul li a {
  margin: 0 22px;
  width: auto;
}
#content {
  width: 1200px;
  margin: 15px auto 0;
}
#content #route {
  display: block;
  width: 1200px;
  padding: 9px 15px 9px 0px;
}
#content #route span {
  color: #666666;
}
#content #route a {
  font-size: 12px;
  margin: 0 5px;
}
#content #item-display {
  display: flex;
  justify-content: space-between;
  margin: 5px 0 15px;
  width: 100%;
}
#content #item-display #item-preview {
  position: relative;
  width: 404px;
}
#content #item-display #item-preview #bigArea {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 0;
  left: 450px;
  overflow: hidden;
  z-index: 1;
  display: none;
  border: 1px solid black;
}
#content #item-display #item-preview #bigArea img {
  position: absolute;
  top: 0;
  left: 0;
}
#content #item-display #item-preview #smallArea #mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: rgba(120, 120, 194, 0.5);
  float: left;
  display: none;
}
#content #item-display #item-preview #smallArea img {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  display: block;
}
#content #item-display #item-preview #image-select {
  display: flex;
  width: 400px;
  justify-content: space-around;
}
#content #item-display #item-preview #image-select #thumbnail-display {
  position: relative;
  width: 400px;
  height: 52px;
  overflow: hidden;
}
#content #item-display #item-preview #image-select ul {
  display: flow-root;
  width: 1200px;
  position: absolute;
  left: 0;
  transition: all 0.3s linear;
}
#content #item-display #item-preview #image-select ul li {
  float: left;
}
#content #item-display #item-preview #image-select ul li img {
  width: 52px;
  height: 52px;
  border: 1px solid #EAEAEA;
  margin-right: 20px;
  cursor: pointer;
}
#content #item-display span {
  font-size: 12px;
}
#content #item-display #item-info {
  width: 700px;
}
#content #item-display #item-info #selected-label mark {
  display: inline-block;
  text-align: center;
  /* width: 100px; */
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  background-color: lightgoldenrodyellow;
  margin-right: 20px;
  font-size: 14px;
}
#content #item-display #item-info #selected-label mark a {
  display: inline-block;
  font-size: 12px;
  margin-left: 2px;
  line-height: 30px;
  cursor: pointer;
  text-align: center;
}
#content #item-display #item-info p {
  margin-top: 15px;
}
#content #item-display #item-info p span {
  margin-right: 10px;
}
#content #item-display #item-info #price-main {
  background-color: #FEE9EC;
  margin-top: 10px;
  padding: 7px;
  vertical-align: top;
}
#content #item-display #item-info #price-main p {
  position: relative;
}
#content #item-display #item-info #price-main p:nth-Child(1) {
  margin-top: 0;
}
#content #item-display #item-info #price-main #price {
  margin-left: 5px;
  color: red;
}
#content #item-display #item-info #price-main em {
  font-size: 25px;
  font-style: normal;
}
#content #item-display #item-info #price-main #jiajiagou {
  display: inline-block;
  position: relative;
  background-color: #C81623;
  color: #fff;
  padding: 3px;
  top: -16px;
}
#content #item-display #item-info #price-main span:nth-Child(1) {
  position: relative;
  top: -16px;
}
#content #item-display #item-info #price-main span:nth-Child(3) {
  display: inline-block;
  width: 465px;
}
#content #item-display #item-info #choose-insert {
  margin-top: 3px;
  border-top: 1px solid #EDEDED;
  width: 100%;
  height: 0;
}
#content #item-display #item-info #select-area {
  margin-top: 30px;
}
#content #item-display #item-info #select-area dl {
  margin-left: 10px;
  display: flex;
  margin-bottom: 13px;
  font-size: 12px;
  line-height: 30px;
}
#content #item-display #item-info #select-area dl dt {
  margin-right: 10px;
}
#content #item-display #item-info #select-area dl dd {
  height: 24px;
  padding: 2px 14px;
  border: 1px solid #ddd;
  font-size: 12px;
  line-height: 24px;
  color: #666666;
  margin-right: 5px;
}
#content #item-display #item-info #select-area dl dd.active {
  color: red;
}
#content #item-display #item-info #item-count {
  position: relative;
}
#content #item-display #item-info #item-count input {
  width: 38px;
  height: 37px;
  border: 1px solid #ddd;
}
#content #item-display #item-info #item-count #addtochar {
  height: 36px;
  padding: 0 10px;
  margin: 0 50px;
  font-size: 16px;
  background-color: #e1251b;
  border: 0;
  color: #fff;
  line-height: 37px;
}
#content #item-display #item-info #item-count #increase {
  position: absolute;
  top: 0px;
  left: 41px;
  width: 15px;
  height: 17px;
  border: 1px solid #ddd;
  padding: 0;
  margin: 0;
}
#content #item-display #item-info #item-count #decrease {
  position: absolute;
  top: 23px;
  left: 41px;
  width: 15px;
  height: 17px;
  border: 1px solid #ddd;
  padding: 0;
  margin: 0;
}
#product-detail {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 1200px;
  margin: 0 auto;
  margin-top: 30px;
}
#aside {
  width: 210px;
  height: 830px;
  border: 1px solid #EAEAEA;
}
#aside #tag-switch #tag-head {
  display: flex;
}
#aside #tag-switch #tag-head div {
  width: 105px;
  height: 36px;
  line-height: 36px;
  border-top: 4px solid #fff;
  border-bottom: 1px solid #EAEAEA;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
#aside #tag-switch #tag-head div.active {
  border-top: 4px solid #ff251b;
  border-bottom: 0;
}
#aside #tag-switch .tag-body {
  padding: 5px 10px;
  display: flex;
  flex-wrap: wrap;
}
#aside #tag-switch .tag-body .con {
  display: none;
}
#aside #tag-switch .tag-body .con.active {
  display: block;
}
#aside #tag-switch .tag-body #tag-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#aside #tag-switch .tag-body #tag-list li {
  width: 50%;
  height: 28px;
  line-height: 28px;
  border-bottom: 1px dashed #ccc;
  font-size: 12px;
}
#aside #tag-switch #relative-item {
  text-align: center;
  width: 190px;
}
#aside #tag-switch #relative-item #item-price {
  font-size: 18px;
  color: #ea4a36;
}
#aside #tag-switch #relative-item p {
  text-align: left;
}
#aside #tag-switch #relative-item p:nth-of-type(1) {
  font-weight: bold;
}
#aside #tag-switch #relative-item button {
  width: 90px;
  height: 30px;
  color: #666;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 30px;
  background-color: #FFF;
  font-size: 12px;
}
#detail {
  display: flex;
  flex-wrap: wrap;
  width: 980px;
}
#detail #fitting {
  width: 980px;
  height: 208px;
  border: 1px solid #EAEAEA;
  margin-bottom: 15px;
}
#detail #fitting #fitting-title {
  background-color: #f1f1f1;
  font-size: 12px;
  color: #333;
  height: 15px;
  padding: 5px 0 5px 15px;
  font-weight: bold;
}
#detail #fitting #companion {
  display: flex;
  line-height: 180px;
}
#detail #fitting #companion div {
  width: 16.666%;
  height: 170px;
  /* border: 1px solid black; */
  font-size: 12px;
  text-align: center;
  padding-top: 10px;
  line-height: normal;
}
#detail #fitting #companion .red-price {
  font-size: 16px;
  color: #ea4a36;
  font-weight: bold;
}
#detail #fitting #companion #plus {
  display: inline-block;
  height: 185px;
  line-height: 185px;
}
#detail #fitting #companion #addToChart {
  border-left: 1px solid #EAEAEA;
  text-align: left;
}
#detail #fitting #companion #addToChart p {
  margin: 10px 0;
}
#detail #fitting #companion #addToChart #addtochar1 {
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  font-size: 16px;
  background-color: #e1251b;
  border: 0;
  color: #fff;
  outline: 0;
}
#detail-show {
  width: 980px;
  height: 2089px;
  border: 2px solid #EAEAEA;
}
#detail-show #detail-tag-head {
  display: flex;
  background-color: #EAEAEA;
}
#detail-show #detail-tag-head h2 {
  display: inline-block;
  height: 40px;
  padding: 0 11px;
  font-size: 12px;
  line-height: 40px;
  font-weight: normal;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  background-color: white;
}
#detail-show #detail-tag-head h2.active {
  background-color: #ea4a36;
  color: white;
}
#detail-show .detail-tag-body {
  font-size: 12px;
  display: none;
}
#detail-show .detail-tag-body li {
  margin: 10px 0;
}
#detail-show .detail-tag-body.active {
  display: block;
}
#sidebar {
  position: fixed;
  top: 0;
  width: 300px;
  height: 100%;
  right: -294px;
  background-color: #7a6e6e;
  transition: all 0.5s linear 0.2s;
}
#sidebar div,
#sidebar ul {
  position: absolute;
  left: -29px;
}
#sidebar div,
#sidebar li {
  width: 35px;
  height: 35px;
}
#sidebar ul {
  width: 35px;
  top: 50%;
  transform: translateY(-50%);
}
#sidebar ul li:nth-Child(1) {
  margin-top: 3px;
  background: #7a6e6e url(../images/toolbars.png) -87px -174px no-repeat;
}
#sidebar ul li:nth-Child(2) {
  margin-top: 3px;
  background: #7a6e6e url(../images/toolbars.png) -50px 0 no-repeat;
}
#sidebar ul li:nth-Child(3) {
  margin-top: 3px;
  background: #7a6e6e url(../images/toolbars.png) -50px -100px no-repeat;
}
#sidebar ul li:nth-Child(4) {
  margin-top: 3px;
  background: #7a6e6e url(../images/toolbars.png) -190px -150px no-repeat;
}
#sidebar ul li:nth-Child(5) {
  margin-top: 3px;
  background: #7a6e6e url(../images/toolbars.png) -50px -150px no-repeat;
}
#sidebar ul li:nth-Child(6) {
  margin-top: 3px;
  background: #7a6e6e url(../images/toolbars.png) -50px -250px no-repeat;
}
#sidebar .menu {
  background: #7a6e6e url(../images/list.png) center no-repeat;
  background-size: contain;
}
#sidebar .backToTop {
  bottom: 0;
  background: #7a6e6e url(../images/toolbars.png) -50px -250px no-repeat;
}
